@model Portal.WebUI.ViewModels.SkillViewModel

@{
    ViewData["Title"] = "Get Skill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Skill</h2>

<span>Title - @Model.Title</span>
<br />
<span>Description - @Model.Description</span>